<style>
  .search-btn {
    background-color: #683193;
    color: #fff;
    border-radius: 25px;
    padding: 0 1rem;
  }

  .search-btn:hover {
    background-color: #ac47fa;
    color: #fff;
  }

  .search-btn i {
    display: inline;
    margin-right: 0.5rem;
  }

  .search-inp {
    border-radius: 25px;
    padding: 0.5rem 3rem;

  }
</style>


<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top shadow-sm">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listings"><i class="fa-solid fa-book-atlas"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link fw-medium" href="/listings">Discover</a>
      </div>
      <div class="navbar-nav ms-auto">
        <form class="d-flex" action="/listings/search" method="GET">
          <input class="form-control me-2 search-inp" type="search" placeholder="Search destinations" name="title">
          <button class="btn search-btn" type="submit"><i class="fa-solid fa-magnifying-glass"></i>Search</button>
        </form>
      </div>
      <div class="navbar-nav ms-auto">
        <% if (!currUser) { %>
          <a class="nav-link fw-medium" href="/signup"><b>Sign Up</b></a>
          <a class="nav-link fw-medium" href="/login"><b>Login</b></a>
          <a class="nav-link fw-medium" href="/listings/new">Share Your Place</a>
          <% } else { %>
            <a class="nav-link fw-medium" href="/listings/new">Share Your Place</a>
            <a class="nav-link" href="/logout">Log out</a>
            <% } %>
      </div>
    </div>
  </div>
</nav>