body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container{
    flex: 1;
}
.navbar{
    height: 5rem;
    background-color: white;
}
.fa-book-atlas{
    color:#683193;
    font-size: 3rem;
}
.nav-link{
    color: #222222 !important;
    text-size-adjust: 3rem;
}
.f-info-links,.f-info-socials,.f-info-brand{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.f-info-socials i{
    margin-right:1rem ;
    font-size: 1.2rem;
}
.f-info-links a{
    text-decoration: none;
    color: #222222;
}
.f-info-links a:hover{
    text-decoration: underline;
}
.f-info{
    text-align: center;
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;

}
/*Card*/
.listing-card{
    border: none !important;
    margin-bottom: 2rem;
}
.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
    box-shadow: rgba(0, 0, 0, 0.35) 10px 10px 15px;
}
.card-body{
    padding: 0 !important;
}
.card-text p{
    font-weight: 400 !important;
}
.listing-link{
    text-decoration: none;
}
.card-img-overlay{
    opacity:0;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}
.add-btn{
    background-color: #fe424d !important;
    border: none !important;
}
.edit-btn{
    background-color: #fe424d !important;
    border: none !important;
}
.book-btn{
    background-color: #683193;;
}

.show-img{
    height: 40vh;
}
.btns{
    display: flex;
    
}


/* mobile view 3btn  */
.navbar-nav{
    background-color: rgba(255, 255, 255, 0.928);
    font-weight: 800;
    font-size: 1.1rem;
    }

    /* mobile view show route  */
@media (max-width: 767px){
    .show-main{
        display: contents !important;
        width: auto !important;
        margin: none;
        padding: none;
        /* position: relative; */
        max-width: 650px !important;
    }
    .show-main>div{
        /* align-items: center; */
        width: 95%;
        /* position: relative !important;
        left: 10px !important; */
        margin: auto auto !important;
    }
   
    
    }

@media (max-width: 575.98px) {
        .custom-margin {
          margin-left: 20px; /* Margin-left for extra small screens */
        } 
        .delete-btn{
            margin-left: 10px;
        }
    }  

    .reserve-title {
        display: flex; /* Ensures icons and text are aligned in a row */
        gap: 5px; /* Adjust this to control spacing */
        align-items: center; /* Vertically center the content */
      }
      
      .reserve-title i {
        font-size: 2rem; /* Adjust icon size to match text */
      
      }

      .fa-umbrella-beach{
          color:orange;
      }
      .fa-jet-fighter{
          color: green;
      }
      
      .reserve-title h3 {
        margin: 0; /* Remove extra margins */
        font-size: 2rem; /* Adjust text size if needed */
      }